---
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    cache_valid_time: 3600
    update_cache: true
  when:
    - ansible_facts['pkg_mgr'] == "apt"

- name: Install Avahi packages
  become: true
  ansible.builtin.package:
    name: "{{ avahi_client__packages }}"
    state: present
