---
- name: Run Optional versionscheck
  ansible.builtin.include_tasks:
    file: versioncheck.yml
  when: submodules_versioncheck | bool

- name: Gather os specific variables
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "vars/{{ ansible_facts['os_family'] }}.yml"
    - "vars/os_fallback.yml"

- name: Install MDNS requirements
  ansible.builtin.include_tasks:
    file: install.yml

- name: Configure /etc/nsswitch.conf
  ansible.builtin.include_tasks:
    file: nsswitch.yml
  when: avahi_client__configure_nsswitch | bool
