# /etc/nsswitch.conf
# {{ ansible_managed }}
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

passwd:         files systemd
group:          files [SUCCESS=merge] systemd
shadow:         files
gshadow:        files

publickey:      files

hosts:          files mymachines myhostname {{ avahi_client__mdns_minimal_name }} [NOTFOUND=return] resolve [!UNAVAIL=return] dns {{ avahi_client__mdns_name }}
networks:       files

protocols:      db [NOTFOUND=return] files
services:       db [NOTFOUND=return] files
ethers:         db [NOTFOUND=return] files
rpc:            db [NOTFOUND=return] files

netgroup:       files
